body {
    background-color: rgb(244, 173, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7, 1, 84);
    margin: auto;
    max-width: 800px;
}

h1, h3, p {
    text-align: center;
}

form {
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    text-align: center;
  }

  label {
    display: block;
    margin: 0.5rem 0;
  }

  input,
textarea,
select {
    margin: 10px 0 0 0;
	  width: 100%;
    min-height: 2em;
}

  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(7, 1, 84);
  }

  input, textarea {
    background-color: rgba(255, 255, 255, 0.779);
    border: 1px solid rgb(7, 1, 84);
    border-width: 1.8px;
    color: rgb(7, 1, 84);
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    text-align: center;
  }

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(7, 1, 84);
    border-color: white;
    min-width: 300px;
    color: white;
  }